    <div class="">
        <%= render partial: 'roots/navbar' %>
    </div>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="first-slide slide-image"></div>
          <div class="container">
            <div class="carousel-caption">
              <h1>CatMail</h1>
              <p>Like GMail, plus cats!</p>
              <p><a class="btn btn-lg btn-primary" href="/auth/github" role="button">Sign In with GitHub Today</a></p>
              <p><a class="btn btn-lg btn-primary" href="/auth/guest" role="button">Log In to a Guest Account</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="second-slide slide-image"></div>
          <div class="container">
            <div class="carousel-caption">
              <h1>Much like GMail...</h1>
              <p>...CatMail is a single page application with features like drafts, stars, threaded converstaions, and autocompleting email addresses. </p>
              <p>Unlike GMail, Catmail is cat themed.</p>
              <p><a class="btn btn-lg btn-primary" href="/auth/github" role="button">Authenticate with GitHub</a></p>
              <p><a class="btn btn-lg btn-primary" href="/auth/github" role="button">LogIn as Guest</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">CatMail is built with Backbone.js and Rails, <span class="text-muted">an excellent pairing.</span></h2>
          <p class="lead">Besides backbone and RoR, CatMail
              employs Kaminari, Postgres, Jbuilder, OmniAuth, JQuery,
              and Twitter Bootstrap.
              <br>
                  It is deployed on Heroku.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/rorbb.jpeg" alt="Generic placeholder image">

        </div>
      </div>


      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 <a href="http://dylnclrk.io/">Dylan Patrick Clark </a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../../code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../docs-assets/js/holder.js"></script>
  </body>

<!-- Mirrored from getbootstrap.com/examples/carousel/ by HTTrack Website Copier/3.x [XR&CO'2013], Thu, 05 Dec 201
