<ul class="nav nav-pills nav-stacked">
    <li id="compose-link"><a href="#compose">Compose</a></li>
    <li id="inbox-link" class="active"><a href="#">Inbox</a></li>
    <li id="starred-link"><a href="#starred">Starred</a></li>
    <li id="sent-link"><a href="#sent">Sent</a></li>
    <li id="trash-link"><a href="#trash">Trash</a></li>
</ul>