<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">CatMail</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= logged_in? ? current_user.username : 'Log In' %>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <% if logged_in? %>
                    <li><a href="#profile">View Profile</a></li>
                    <li><a href="#preferences">Preferences</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout"><span class="text-danger">Log Out</span></a></li>
                <% else %>
                    <li><a href="/auth/github">With Github</a></li>
                    <li><a href="/guest-login">As Guest</a></li>
                <% end %>
            </ul>
        </li>
    </ul>
</nav>
