<%= render partial: 'navbar' %>


<div class="container main">
<h1 class="brand">CatMail</h1>
    <div class="row">
        <div class="col-sm-3" id="sidebar">
        </div>
        <div class="col-sm-9" id="content">
        </div>
        <div id="load" class="load">
            <div class="loading-area">
                <div class="loading-area__text">Loading <%= current_user.email %></div>
                <div class="loading-area__bar">
                    <span class="loading-area__bar__fill"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
      <div class="container">
          <p class="text-muted credit">made by <a href="http://dylanpatrickclark.com">dylnclrk</a></p>
      </div>
    </div>
