<span class="content-label">Inbox</span>
    <button type="button" id="refresh-button" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-refresh"></span>
    </button>

<% if (this.collection.isEmpty()) { %>
    <p><i>Inbox Zero! :)</i></p>
<% } else { %>
<table class="table table-hover">
    <tbody>
        <% this.collection.each(function(message) { %>
            <%= JST['inbox/message']({ model: message }) %>
        <% }); %>
    </tbody>
</table>
<% } %>