<tr class="message-row" data-id="<%= model.id %>">
    <td><%= model.escape('sender_email') %></td>
    <td><%= model.escape('subject') %></td>
    <td><%= GM.Helpers.truncatePreview(model.escape('body')) %></td>
</tr>