<form id="message-compose-form">
      <label>to: <input id="to_emails" type="text" width=100 placeholder="dylanclark112@gmail.com,ned@appacademy.io"></label><br />
      <label>subject: <input id="subject" type="text" placeholder="Cats, I love them!" ></label><br />
      <label>body: <textarea id="body" placeholder="I really love cats. Let me tell you why..."></textarea></label><br />
      <input type="submit" value="send it, friend.">
</form>     