<button type="button" id="inbox-button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Inbox</button>

<h4>
<%= this.model.escape('subject') %>
</h4>
<p>
<%= this.model.escape('body') %>
</p>